<div class="container col-xs-3">
<a href="/politicians/<%= politician.id %>">
<img src="/assets/<%=politician.bioguide_id%>.jpg" class="img-responsive"/>
</a>
<h4>
  <%= politician.title %> <%= politician.first_name%> <%= politician.last_name%>
</h4> 
<%= politician.party %>
</div>