<h1>
<%= @politician.title %>
<%= @politician.first_name%> <%= @politician.last_name%>
</h1>

<div class="container col-xs-4">
  <img src="/assets/<%=@politician.bioguide_id%>.jpg" class="img-responsive"/>
  Party: <%= @politician.party %><br>
  State: <%= @politician.state %><br>
  District: <%= @politician.district %><br>
  <a href="<%= @politician.website %>">Go to your reps website</a><br>
  <a href="https://www.twitter.com/<%= @politician.twitter_handle %>">Follow your rep on twitter</a>
</div>

<% if (@politician.twitter_handle == nil || @politician.twitter_handle == "") %>
  <% @politician.twitter_handle = 'USGovNews' %>
<% end %>


<div class="container col-xs-4 politician_id" id = "<%= @politician.id %>">
  <h4>Recent NYTimes Headlines!</h4>
  <ul id = "articles">
    
  </ul>
</div>

<div id="contributions">
  <h4>Contributions Summary</h4>
  <table>
    <th>Organization</th>
    <th>Amount ($)</th>
      <% @indiv_contributors.each do |indiv_contributor| %>
        <tr>
          <td><%= indiv_contributor.organization_name %></td>
          <td><%= indiv_contributor.total %></td>
        </tr>
      <% end %>
  </table>

  <table>
    <th>Industry</th>
    <th>Amount ($)</th>
      <% @indus_contributors.each do |indus_contributor| %>
        <tr>
          <td><%= indus_contributor.industry_name %></td>
          <td><%= indus_contributor.total %></td>
        </tr>
      <% end %>
  </table>
  
</div>

<div class="col-xs-6">
<ul>
<% @get_mentions.each do |each_tweet| %>
  <li>
    <%= each_tweet%>
  </li>
<% end %>
</ul>
</div>

