<!-- NAVBAR
============================== -->
<div class="navbar navbar-default navbar__initial navbar-fixed-top scrollspy_menu" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        
        <!-- <button>Hello</button> -->
    </div>
    <div class="navbar-collapse collapse">
    <a class="navbar-left" href="javascript:history.back()"><img src="/assets/backbutton.svg" class="resize"></a>
      <ul class="fullpage__nav nav navbar-nav navbar-right">
        <li><a href="#welcome" class="<%= @politician.party %>">About</a></li>
        <li><a href="#recent" class="<%= @politician.party %>"> Recent Articles</a></li>
        <li><a href="#campaign" class="<%= @politician.party %>">Campaign Contributions</a></li>
        <li><a href="#twitter" class="<%= @politician.party %>">Twitter</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- WELCOME
============================== -->
<div class="welcome_classic" id="welcome">
  <div class="welcome-classic__inner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">

          <!-- Heading -->
          <div class = "pad">
          </div>
          <div class = "pad">
          <img src="/assets/<%=@politician.bioguide_id%>.jpg" class="img-responsive col-xs-4 offset-4"/>
          <h1 class="heading heading_lg">
            <%= @politician.title %> <span class="text-primary-<%=@politician.party %>"><%= @politician.first_name%> <%= @politician.last_name%></span>
          </h1>

          <!-- Sub heading -->
          <p class="heading__sub">
            Party: <%= @politician.party %><br>
            State: <%= @politician.state %><br>
            District: <%= @politician.district %>
          </p>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </div> <!-- / .classic-welcome__inner -->
</div> <!-- / .welcome_classic -->


<div class="container col-xs-4">
  <a href="<%= @politician.website %>" class="<%=@politician.party %>">Go to your reps website</a><br>
  <a href="https://www.twitter.com/<%= @politician.twitter_handle %>" class="<%=@politician.party %>">Follow your rep on twitter</a>
</div>

<% if (@politician.twitter_handle == nil || @politician.twitter_handle == "") %>
  <% @politician.twitter_handle = 'USGovNews' %>
<% end %>

<div id = "recent" class = "pad">
  <div class="container politician_id" id = "<%= @politician.id %>">
    <h2>Recent NYTimes Headlines!</h2>
    <div id = "articles" class="nytimes">
      <img src="/assets/loading.gif">
    </div>
  </div>
</div>

<div id = "campaign" class = "pad">
  <div id="contributions">
    <h2>Campaign Contributions</h2>
    <br>
    <h4>by Organization for 2014</h4>
    <%= pie_chart @indiv_contributors_data %>
    <br>
    <h4>by Industry for 2014</h4>
    <%= pie_chart @indus_contributors_data %>
  </div>
</div>

 
<div id = "twitter" class = "pad">
<br>
<br>
<h2>Twitter Mentions</h2>
  <ul>
  <% @get_mentions.each do |tweet| %>
    <div id="tweet" class="col-xs-4">
      <%= tweet[:screen_name] %> says:
      <%= tweet[:text] %>
      <% if tweet[:media_url] %>
        <%= image_tag tweet[:media_url], class: "img-responsive" %>
      <% end %>
    </div>
  <% end %>
  </ul>
</div>

